{% extends 'layouts/base.html.twig' %}

{% block title 'Profile' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5">Profile</h1>

            <img src="{{ app.user.gravatar }}" alt="Profile image" class="mb-5 rounded-circle shadow">

            <p class="lead">{{ app.user.email }}</p>
            <p class="h2 mb-3">{{ app.user.fullName }}</p>
            <p class="text-center text-muted"><small>Account created on {{ app.user.createdAt|date('d/m/Y') }}</small></p>
            <p><a href="{{ path('app_account_edit') }}">Edit Profile</a> | <a href="{{ path('app_pins_create') }}">Create Pin</a> | <a href="{{ path('app_home') }}">Back Home</a></p>
        </div>
    </div>
{% endblock %}
